:root {
  --color-white: #fff;
  --color-primary-500: #2860e6;
  --color-primary-700: #1c49bc;
  --color-neutral-500: #e4e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
